.imagesContainer ul {
  list-style: none;
  position: relative;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}
.imagesContainer ul li {
  position: absolute;
  top: 50%;
  left: 50%;
}

.guiderails {
  border-style: none solid none solid;
  border-color: rgb(0, 0, 0);
  border-width: 0.5px;
  height: 60px;
  width: 100%;
  margin-top: 1rem;
}

.caption {
  font-family: "Apple Garamond";
  color: yellow;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bigdiv {
  background-color: #f9eeb0;
  padding-left: 4rem;
  padding-bottom: 1rem;
}

.guiderails2 {
  width: 63%;
  margin-left: 7%;
  border-style: none solid none solid;
  border-color: black;
  border-width: 0.5px;
  height: 60px;
}

.name {
  font-family: "Apple Garamond";
  font-size: 227px;
  line-height: 75%;
  font-weight: unset;
  text-align: left;
  -webkit-margin-after: 0rem;
          margin-block-end: 0rem;
  -webkit-margin-before: 2.5rem;
          margin-block-start: 2.5rem;
}

.pron {
  font-size: 7px;
  font-family: "Melody Regular";
  letter-spacing: 3px;
  text-transform: uppercase;
}

.descripsh {
  width: 70%;
  font-family: "Apple Garamond";
  font-size: 1.1rem;
  line-height: 120%;
  text-align: justify;
  padding-left: 7%;
  margin-top: 4rem;
  /* letter-spacing: 2px; */
}

.barkport {
  font-family: "GT America Exp Light It", sans-serif;
  text-transform: uppercase;
  /* text-decoration: underline; */
  font-size: 14px;
  padding-right: 5.5rem;
  letter-spacing: 1px;
  /* margin-top: -11px;   */
  float: left;
}

.bottomdiv {
  background: rgb(245, 243, 239);
  min-height: 100vh;
  padding-left: 4rem;
  padding-top: 10px;
  padding-bottom: 5rem;
  padding-top: 1rem;
}
.bottomdiv .recentwork {
  padding-left: 7%;
  padding-bottom: 70px;
  color: black;
}

.pane {
  width: 70%;
  padding-left: 7%;
  height: 900px;
}
.pane .imagesContainer {
  width: 100%;
  height: 100%;
  border-radius: 21px;
}
.pane .imagesContainer ul {
  height: 100%;
  width: 100%;
}

.calvin {
  margin-top: 30px;
}
.calvin .imagesContainer {
  background: #877B00;
}
.calvin .imagesContainer ul .liImage--0 {
  -webkit-animation: xfade--cal 15.57s 0s infinite;
          animation: xfade--cal 15.57s 0s infinite;
}
.calvin .imagesContainer ul .liImage--1 {
  -webkit-animation: sixNine--cal 0.69s 4.5s forwards, xfade--cal 15.57s 5.19s infinite;
          animation: sixNine--cal 0.69s 4.5s forwards, xfade--cal 15.57s 5.19s infinite;
}
.calvin .imagesContainer ul .liImage--2 {
  -webkit-animation: sixNine--cal 0.69s 9.69s forwards, xfade--cal 15.57s 10.38s infinite;
          animation: sixNine--cal 0.69s 9.69s forwards, xfade--cal 15.57s 10.38s infinite;
}
@-webkit-keyframes xfade--cal {
  0% {
    opacity: 1;
  }
  28.901734104% {
    opacity: 1;
  }
  33.3333333333% {
    opacity: 0;
  }
  95.5684007707% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes xfade--cal {
  0% {
    opacity: 1;
  }
  28.901734104% {
    opacity: 1;
  }
  33.3333333333% {
    opacity: 0;
  }
  95.5684007707% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes sixNine--cal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes sixNine--cal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.calvin .imagesContainer ul .liImage--0, .calvin .imagesContainer ul .liImage--1, .calvin .imagesContainer ul .liImage--2 {
  transform: scale(0.8) translate(-62%, -62%);
}

@font-face {
  font-family: "Apple Garamond";
  src: url("/AppleGaramond-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Apple Garamond Italic";
  src: url("/AppleGaramond-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Melody Regular";
  src: url("/BLMelody-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Jabin";
  src: url("/Jabin-Typeface.woff2") format("woff2");
}
@font-face {
  font-family: "GT America Exp Light It";
  src: url("/GT-America-Expanded-Light-Italic-Trial.otf") format("opentype");
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=globals.css.map */