@import url("https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap");
.guiderails {
  border-style: none solid none solid;
  border-color: rgb(0, 0, 0);
  border-width: 0.5px;
  height: 170px;
  width: 100%;
  margin-top: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bigdiv {
  background-color: rgb(233, 231, 216);
  padding-left: 4rem;
}
.bigdiv * {
  color: black;
}

.name {
  font-family: "Apple Garamond";
  font-size: 227px;
  line-height: 75%;
  font-weight: unset;
  text-align: left;
  -webkit-margin-after: 0rem;
          margin-block-end: 0rem;
  -webkit-margin-before: 2.5rem;
          margin-block-start: 2.5rem;
}

ul {
  list-style: none;
  position: relative;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
}

.pron {
  font-size: 0.45rem;
  font-family: "Melody Regular";
  letter-spacing: 5px;
  text-transform: uppercase;
}

.descripsh {
  width: 70%;
  font-family: "Apple Garamond";
  font-size: 1.1rem;
  line-height: 120%;
  text-align: justify;
  padding-left: 7%;
  margin-top: 4rem;
  /* letter-spacing: 2px; */
}
.descripsh--2 {
  width: 100%;
  padding-left: 0%;
  margin-top: 1rem;
}

.barkport {
  font-family: "GT America Exp Bold", sans-serif;
  text-transform: uppercase;
  /* text-decoration: underline; */
  font-size: 10px;
  color: #661414;
  padding-right: 5.5rem;
  letter-spacing: 0.5px;
  /* margin-top: -11px;   */
  float: left;
}
.barkport--2 {
  color: black;
}

a {
  text-decoration: underline;
}

.detailsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.detailsContainer .fontsContainer ul li img {
  height: 80px;
}

.bskillz {
  font-family: "GT America Exp Bold", sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  -webkit-margin-after: 0.1rem;
          margin-block-end: 0.1rem;
  -webkit-margin-before: 0.5rem;
          margin-block-start: 0.5rem;
}

.font {
  cursor: ne-resize;
  text-decoration: underline;
}

.fontImage {
  position: fixed;
  right: 70px;
  top: 70px;
}
.fontImage.forma {
  height: 50px;
}
.fontImage.hina {
  font-family: "Hina Mincho";
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 70%;
}
.fontImage.roobert {
  height: 50px;
}
.fontImage.skelter {
  height: 150px;
}
.fontImage.nudge {
  height: 100px;
}
.fontImage.apple {
  font-size: 4rem;
  font-family: "Apple Garamond";
  line-height: 70%;
}

.pane.cnc .imagesContainer ul li {
  opacity: 1;
}

.bottomdiv {
  background: rgb(233, 231, 216);
  min-height: 100vh;
  padding-left: 4rem;
  padding-top: 1rem;
  padding-bottom: 5rem;
}
.bottomdiv .recentwork {
  padding-left: 7%;
  padding-bottom: 70px;
  color: black;
  visibility: hidden;
}

.pane {
  width: 70%;
  padding-left: 7%;
  height: 818px;
}
.pane .imagesContainer {
  width: 100%;
  height: 100%;
}
.pane .imagesContainer ul {
  height: 100%;
  width: 100%;
}
.pane .imagesContainer ul li {
  position: absolute;
  width: 100%;
  opacity: 0;
  border-radius: 8px;
}
.pane .imagesContainer ul li img {
  width: 100%;
}
.pane .caption {
  font-family: "Apple Garamond";
  padding-left: 5px;
}

.calvin .imagesContainer ul .liImage--0 {
  -webkit-animation: xfade--cal 15.57s 0s infinite;
          animation: xfade--cal 15.57s 0s infinite;
}
.calvin .imagesContainer ul .liImage--1 {
  -webkit-animation: sixNine--cal 0.69s 4.5s forwards, xfade--cal 15.57s 5.19s infinite;
          animation: sixNine--cal 0.69s 4.5s forwards, xfade--cal 15.57s 5.19s infinite;
}
.calvin .imagesContainer ul .liImage--2 {
  -webkit-animation: sixNine--cal 0.69s 9.69s forwards, xfade--cal 15.57s 10.38s infinite;
          animation: sixNine--cal 0.69s 9.69s forwards, xfade--cal 15.57s 10.38s infinite;
}
@-webkit-keyframes xfade--cal {
  0% {
    opacity: 1;
  }
  28.901734104% {
    opacity: 1;
  }
  33.3333333333% {
    opacity: 0;
  }
  95.5684007707% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes xfade--cal {
  0% {
    opacity: 1;
  }
  28.901734104% {
    opacity: 1;
  }
  33.3333333333% {
    opacity: 0;
  }
  95.5684007707% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes sixNine--cal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes sixNine--cal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.votr {
  margin-top: 30px;
}
.votr .imagesContainer ul .liImage--0 {
  -webkit-animation: xfade--cal 10.38s 0s infinite;
          animation: xfade--cal 10.38s 0s infinite;
}
.votr .imagesContainer ul .liImage--1 {
  -webkit-animation: sixNine--cal 0.69s 4.5s forwards, xfade--cal 10.38s 5.19s infinite;
          animation: sixNine--cal 0.69s 4.5s forwards, xfade--cal 10.38s 5.19s infinite;
}
@keyframes xfade--cal {
  0% {
    opacity: 1;
  }
  43.3526011561% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  93.3526011561% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes sixNine--cal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@font-face {
  font-family: "Apple Garamond";
  src: url("/AppleGaramond-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Apple Garamond Italic";
  src: url("/AppleGaramond-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Melody Regular";
  src: url("/BLMelody-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Jabin";
  src: url("/Jabin-Typeface.woff2") format("woff2");
}
@font-face {
  font-family: "GT America Exp Light It";
  src: url("/GT-America-Expanded-Light-Italic-Trial.otf") format("opentype");
}
@font-face {
  font-family: "GT America Exp Bold";
  src: url("/GT-America-Expanded-Bold-Trial.otf") format("opentype");
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(233, 231, 216);
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=globals.css.map */