html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.imagesContainer {
  ul {
    list-style: none;
    position: relative;
    li {
      position: absolute;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
} 

* {
  box-sizing: border-box;
} 
.bigdiv {
  background-color: #fff3ac;
  padding-left: 4rem;
  padding-bottom: 8rem;
}
.name {
  font-family: "Apple Garamond";
  font-size: 227px;
  line-height: 75%;
  font-weight: unset;
  text-align: left;
  margin-block-end: 0rem;
  margin-block-start: 2.5rem
}
.pron {
  font-size: 7px;
  font-family: "Melody Regular";
  letter-spacing: 3px;
  text-transform: uppercase;
}
.descripsh {
  width: 70%;
  font-family: "Apple Garamond";
  font-size: 1.1rem;
  line-height: 120%;
  text-align: justify;
  padding-left: 7%;
  margin-top: 4rem;
  /* letter-spacing: 2px; */
}
.barkport {
  font-family: "GT America Exp Light It", sans-serif;
  text-transform: uppercase;
  /* text-decoration: underline; */
  font-size: 14px;
  padding-right: 5.5rem;
  letter-spacing: 1px;
  /* margin-top: -11px;   */
  float:left;
}
.bottomdiv {
  background: WHITE;
  min-height: 100vh;
}
.calvin {
  .imagesContainer {
    ul {
      @include slideShow(3,"cal")
    }
  }
}
@mixin slideShow($slideNumber, $uniqueName) {
    // time = total animation time
    // time = (a+b) * n
    // where:
    // a = presentation time for each slide
    // n = number of slides
    // b = duration of crossfade
    // delay = a+b
    $n: $slideNumber + 1;
    $time: ($n * 1s) * (5.19);
    $t: ($n * 1) * (5.19);
    // _2 = percentage where last of full visibility starts to transition
    // to invisible based on number of slides/parameters
    // _3 = end of transition to invisible
    // _4 = start of transition to visible again
    $_2: (4.5 / $t) * 100%;
    $_3: (1 / $n) * 100%;
    $_4: 100% - (0.69 / $t * 100%);
    @for $i from 0 through $slideNumber {
      $delay: $i * 5.19s;
      @if $i == 0 {
        .liImage--#{$i} {
          animation: xfade--#{$uniqueName} $time $delay infinite;
        }
      } @else {
        $incrementer: $i - 1;
        $buffer: $incrementer * 5.19s;
        $_69delay: $buffer + 4.5s;
        .liImage--#{$i} {
          animation: sixNine--#{$uniqueName} 0.69s $_69delay forwards,
            xfade--#{$uniqueName} $time $delay infinite;
        }
      }
    }
    @keyframes xfade--#{$uniqueName} {
      0% {
        opacity: 1;
      }
      #{$_2} {
        opacity: 1;
      }
      #{$_3} {
        opacity: 0;
      }
      #{$_4} {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes sixNine--#{$uniqueName} {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
@font-face {
  font-family: 'Apple Garamond';
  src: url('/AppleGaramond-Light.ttf')  format('truetype');
}
@font-face {
  font-family: 'Apple Garamond Italic';
  src: url('/AppleGaramond-LightItalic.ttf')  format('truetype');
}


@font-face {
  font-family: "Melody Regular";
  src: url("/BLMelody-Regular.otf") format("opentype");
}



@font-face {
  font-family: "Jabin";
  src: url("/Jabin-Typeface.woff2") format('woff2');
}


@font-face {
  font-family: "GT America Exp Light It";
  src: url("/GT-America-Expanded-Light-Italic-Trial.otf") format("opentype");
}