@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');
@mixin slideShow($slideNumber, $uniqueName) {
  // time = total animation time
  // time = (a+b) * n
  // where:
  // a = presentation time for each slide
  // n = number of slides
  // b = duration of crossfade
  // delay = a+b
  $n: $slideNumber +1;
  $time: ($n * 1s) * (5.19);
  $t: ($n * 1) * (5.19);
  // _2 = percentage where last of full visibility starts to transition
  // to invisible based on number of slides/parameters
  // _3 = end of transition to invisible
  // _4 = start of transition to visible again
  $_2: calc(4.5 / $t) * 100%;
  $_3: calc(1 / $n) * 100%;
  $_4: 100% - calc(0.69 / $t * 100%);

  @for $i from 0 through $slideNumber {
    $delay: $i * 5.19s;

    @if $i ==0 {
      .liImage--#{$i} {
        animation: xfade--#{$uniqueName} $time $delay infinite;
      }
    }

    @else {
      $incrementer: $i - 1;
      $buffer: $incrementer * 5.19s;
      $_69delay: $buffer +4.5s;

      .liImage--#{$i} {
        animation: sixNine--#{$uniqueName} 0.69s $_69delay forwards,
        xfade--#{$uniqueName} $time $delay infinite;
      }
    }
  }

  @keyframes xfade--#{$uniqueName} {
    0% {
      opacity: 1;
    }

    #{$_2} {
      opacity: 1;
    }

    #{$_3} {
      opacity: 0;
    }

    #{$_4} {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes sixNine--#{$uniqueName} {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

.guiderails {
  border-style: none solid none solid;
  border-color: rgba(0, 0, 0, 1);
  border-width: .5px;
  height: 170px;
  width: 100%;
  margin-top: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bigdiv {
  background-color: rgb(233, 231, 216);
  padding-left: 4rem;

  & * {
    color: black;
  }
}

.name {
  font-family: "Apple Garamond";
  font-size: 227px;
  line-height: 75%;
  font-weight: unset;
  text-align: left;
  margin-block-end: 0rem;
  margin-block-start: 2.5rem;
  // color: #C4FF5D;
}

ul {
  list-style: none;
  position: relative;
  padding-inline-start: 0px;
  margin-block-start: 0px;
}

.pron {
  font-size: .45rem;
  font-family: "Melody Regular";
  letter-spacing: 5px;
  text-transform: uppercase;
}

.descripsh {
  width: 70%;
  font-family: "Apple Garamond";
  font-size: 1.1rem;
  line-height: 120%;
  text-align: justify;
  padding-left: 7%;
  margin-top: 4rem;

  /* letter-spacing: 2px; */
  &--2 {
    width: 100%;
    padding-left: 0%;
    margin-top: 1rem;
  }
}

.barkport {
  font-family: "GT America Exp Bold", sans-serif;
  text-transform: uppercase;
  /* text-decoration: underline; */
  font-size: 10px;
  color: #661414;
  padding-right: 5.5rem;
  letter-spacing: .5px;
  /* margin-top: -11px;   */
  float: left;

  &--2 {
    color: black;
  }
}

a {
  text-decoration: underline;
}

.detailsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

  .subcontainer {}

  .fontsContainer {
    ul {
      li {
        img {
          height: 80px;
        }
      }
    }
  }
}


.bskillz {
  font-family: "GT America Exp Bold", sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  margin-block-end: .1rem;
  margin-block-start: .5rem;
}
.font {
  cursor: ne-resize;
  text-decoration: underline;
}
.fontImage {
  position: fixed;
  right: 70px;
  top: 70px;

  &.forma {
    height: 50px;
  }

  &.hina {
    font-family: "Hina Mincho";
    font-size: 4rem;
    text-transform: uppercase;
    line-height: 70%;
  }

  &.roobert {
    height: 50px;
  }

  &.skelter {
    height: 150px;
  }
  &.nudge {
    height: 100px;
  }
  &.apple {
    font-size: 4rem;
    font-family: "Apple Garamond";
    line-height: 70%;
  }
}

.pane.cnc {
  .imagesContainer {
    ul {
      li {
        opacity: 1;
      }
    }
  }
}

.bottomdiv {
  background: rgb(233, 231, 216);
  min-height: 100vh;
  padding-left: 4rem;
  padding-top: 1rem;
  padding-bottom: 5rem;

  .recentwork {
    padding-left: 7%;
    padding-bottom: 70px;
    color: black;
    visibility: hidden;
  }
}

.pane {
  width: 70%;
  padding-left: 7%;
  height: 818px;

  .imagesContainer {
    width: 100%;
    height: 100%;

    ul {
      height: 100%;
      width: 100%;

      li {
        position: absolute;
        width: 100%;
        opacity: 0;
        border-radius: 8px;

        img {
          width: 100%;
        }
      }
    }
  }

  
  .caption {
    font-family: "Apple Garamond";
    padding-left: 5px;
  }
}

.calvin {

  .imagesContainer {
    ul {
      @include slideShow(2, "cal");
    }
  }
}

.votr {
  margin-top: 30px;

  .imagesContainer {
    ul {
      @include slideShow(1, "cal");
      // .liImage--0, .liImage--1, .liImage--2 {

      // }

    }
  }
}

@font-face {
  font-family: 'Apple Garamond';
  src: url('/AppleGaramond-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Apple Garamond Italic';
  src: url('/AppleGaramond-LightItalic.ttf') format('truetype');
}


@font-face {
  font-family: "Melody Regular";
  src: url("/BLMelody-Regular.otf") format("opentype");
}



@font-face {
  font-family: "Jabin";
  src: url("/Jabin-Typeface.woff2") format('woff2');
}


@font-face {
  font-family: "GT America Exp Light It";
  src: url("/GT-America-Expanded-Light-Italic-Trial.otf") format("opentype");
}

@font-face {
  font-family: "GT America Exp Bold";
  src: url("/GT-America-Expanded-Bold-Trial.otf") format("opentype");
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(233, 231, 216);
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
}